apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: django-demo
  name: django-demo
spec:
  replicas: 4
  selector:
    matchLabels:
      app: django-demo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: django-demo
    spec:
      containers:
      - image: gamertech1/django-app:4
        name: django-demo
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
  labels:
    app: lb-service
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: django-demo
